@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  background-color: #d5eeff;
  color: #272343;
  font-family: "Quicksand", sans-serif;
}

.App h1 {
  font-size: 70px;
}

.App h5 {
  font-size: 22px;
}

.App h6 {
  font-weight: bolder;
  font-size: 22px;
}

.App img {
  width: 80px;
  margin-top: 80px;
}

.App a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bolder;
}

.App .unit-divider {
  font-size: 21px;
}

.App .celsius-link {
  position: relative;
  left: 100px;
  color: #272343;
}

.App .fahrenheit-link {
  position: relative;
  right: 100px;
  color: white;
  -webkit-text-stroke: 1px #272343;
}

.App .wind-conditions,
.humidity-conditions {
  font-size: 18px;
}
